.dp-tag--published {
  background-color: #CFEDE1 !important;
  color: #005E3A !important;
}

.dp-tag--draft {
  background-color: #D6E4F7 !important;
  color: #1d70b8 !important;
}

.dp-tag--small {
  font-size: 0.75rem !important;
  padding: 0.125rem 0.5rem !important;
}

.dp-table__caption {
  position: relative;
  padding-right: 130px;
}

.dp-table__caption-link {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
  text-align: right;
  text-decoration: underline;
  color: #1d70b8;
  font-weight: normal;
  font-size: 16px;
}

.dp-table__caption-link:hover {
  color: #003078;
}

/* Underline all table action links */
table a {
  text-decoration: underline;
}

table a:hover {
  color: #003078;
}