.dp-tag--published {
  background-color: #CFEDE1 !important;
  color: #005E3A !important;
  display: inline-block !important;
  padding: 2px 8px !important;
  border: 1px 1px #005E3A !important;
  font-size: 0.875rem !important;
  font-weight: 700 !important;
  border-radius: 5rem !important;
}

.dp-tag--draft {
  background-color: #FFF2D3 !important;
  color: #594D00 !important;
  padding: 2px 6px !important;
  font-size: 0.875rem !important;
  font-size: 0.875rem !important;
  font-weight: 700 !important;
  border-radius: 5rem !important;
}

.dp-tag--small {
  font-size: 0.75rem !important;
  padding: 0.125rem 0.5rem !important;
}

.dp-table__caption {
  position: relative;
  padding-right: 130px;
}

.dp-table_button {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	padding: 8px 10px 7px;
	font-family: Roboto, 'Roboto Fallback', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	background-color: #f3f2f1;
	color: #0b0c0c !important;
	border: 2px solid transparent;
	border-radius: 0;
	cursor: pointer;
	box-shadow: 0 2px 0 #929191;
	-webkit-appearance: none;
	appearance: none;
}

.dp-table_button:hover {
	background-color: #dbdad9;
}

.dp-table_button:focus {
	outline: 3px solid #ffdd00;
	outline-offset: 0;
	background-color: #dbdad9;
}

.dp-table__caption-link {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
  text-align: right;
  text-decoration: underline;
  color: #6f72af;
  font-weight: normal;
  font-size: 16px;
}

.dp-table__caption-link:hover {
  color: #6f72af;
}

/* Underline all table action links */
table a {
  text-decoration: underline;
}

table a:hover {
  color: #003078;
}

table a {
	color: #1d70b8 !important
}
