{% extends 'layout/master.njk' %}

{% block content %}
<div class="container admin-dashboard-margin-y-8">
  <div class="admin-article-form-container dp-pt-0">
    <div class="row align-items-center admin-dashboard-fix-row">
      <div class="col-sm-12 col-md-12">
        <div class="card admin-dashboard-card dp-pt-0" itemscope itemtype="https://schema.org/Table">
            {# Include flash messages partial #}
            {% include "partial/flash-messages.njk" %}
            
            {{ form().openTag(f) }}
                {{ formCsrf(f.get('csrf')) | safe }}

                {{ formHidden(f.get('id')) | safe }}
                {{ formHidden(f.get('author_id')) | safe }}

                <div class="form-group{% if errorDecorator(f.get('title')) %} dp-form-group--error{% endif %}">
                    {{ formLabel(f.get('title')) | safe }}
                    {{ formError(f.get('title')) | safe }}
                    {{ formText(f.get('title')) | safe }}
                </div>

                <div class="form-group{% if errorDecorator(f.get('slug')) %} dp-form-group--error{% endif %}">
                    {{ formLabel(f.get('slug')) | safe }}
                    {{ formError(f.get('slug')) | safe }}
                    {{ formText(f.get('slug')) | safe }}
                </div>

                <div class="form-group{% if errorDecorator(f.get('excerpt')) %} dp-form-group--error{% endif %}">
                    {{ formLabel(f.get('excerpt')) | safe }}
                    {{ formError(f.get('excerpt')) | safe }}
                    {{ formTextarea(f.get('excerpt')) | safe }}
                </div>

                <div class="form-group{% if errorDecorator(f.get('content')) %} dp-form-group--error{% endif %}">
                    {{ formLabel(f.get('content')) | safe }}
                    {{ formError(f.get('content')) | safe }}
                    {{ formTextarea(f.get('content')) | safe }}
                </div>

                <div class="form-group{% if errorDecorator(f.get('author_name')) %} dp-form-group--error{% endif %}">
                    {{ formLabel(f.get('author_name')) | safe }}
                    {{ formError(f.get('author_name')) | safe }}
                    {{ formText(f.get('author_name')) | safe }}
                </div>

                <div class="form-group{% if errorDecorator(f.get('category_id')) %} dp-form-group--error{% endif %}">
                    {{ formLabel(f.get('category_id')) | safe }}
                    {{ formError(f.get('category_id')) | safe }}
                    {{ formSelect(f.get('category_id')) | safe }}
                </div>

                <div class="form-group{% if errorDecorator(f.get('meta_description')) %} dp-form-group--error{% endif %}">
                    {{ formLabel(f.get('meta_description')) | safe }}
                    {{ formError(f.get('meta_description')) | safe }}
                    {{ formTextarea(f.get('meta_description')) | safe }}
                </div>

                <div class="form-group{% if errorDecorator(f.get('comment_enabled')) %} dp-form-group--error{% endif %}">
                    {{ formCheckbox(f.get('comment_enabled')) | safe }}
                    {{ formLabel(f.get('comment_enabled')) | safe }}
                    {{ formError(f.get('comment_enabled')) | safe }}
                </div>

                <div class="form-group">
                    {{ formSubmit(f.get('submit')) | safe }}
                </div>
            {{ form().closeTag() }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}