<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {# Homepage #}
  <url>
    <loc>{{ sitemap.baseUrl }}/</loc>
    <lastmod>{{ sitemap.currentDate }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>

  {# All published posts #}
  {% for post in sitemap.posts %}
  <url>
    <loc>{{ sitemap.baseUrl }}/articles/{{ post.slug }}/index.html</loc>
    <lastmod>{{ (post.updated_at or post.published_at) | date('YYYY-MM-DD') }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}
</urlset>
