/* =========================================
   GLOBAL LAYOUT & BASE STYLES
   Used by: ALL templates (master.njk)
   ========================================= */

/* Restore previously removed rules */
.ng-view {
    background-color: #d4351c;
}
.ng-view .container .list-group .list-group-item{
    background-color: #c0392b;
}

.ng-view .container .list-group .list-group-item a{
    color: #fff;
}


@media screen and (min-width: 600px) {
  .visible-phone {
    display: none;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    display:normal;
    overflow:auto
  }
}

.off-screen {
    visibility: none;
}

/* Make footer stick to bottom of page using flexbox layout */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

/*@import url(//fonts.googleapis.com/css?family=Lato&display=swap);*/
/*@import url(//fonts.googleapis.com/css?family=Anton&display=swap);*/
/*@import url(//fonts.googleapis.com/css?family=Roboto&display=swap);*/

body {
    /*font-family: "nta", Arial, sans-serif !important;*/
	font-family: "Roboto", "Roboto Fallback", Arial, sans-serif !important;
	/*background-color: #e8e5c3;*/
	/*background-color: #fff;*/
    background-color: #f3f2f1;
}

/* =========================================
   NAVIGATION & HEADER STYLES
   Used by: ALL templates (master.njk)
   ========================================= */

.navbar {
  background-color: #003078 !important;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ffbbbc;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffbbbc;
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffbbbc;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-toggle {
  border-color: #c0392b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0392b;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ffbbbc;
}

.contact {
	background-color: #4c2c92 !important;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffbbbc;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-brand {
	/*font-family: 'EB Garamond', 'Garamond', serif;*/
	font-family: 'Anton', 'Garamond', serif;
	font-size: 52px;
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: normal;
}

h1.navbar-brand {
	margin-right: 3px;
}

.sub-menu {
    background-color: #fff;
    position: absolute;
    top: 69px;
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    margin: 0 auto;
    max-width: 950px;
}

.nav-font-white {
    color: #fff !important;
    padding: 0 0 0 0;
}

.isDisabled {
  color: #ecf0f1;
  text-decoration: none;
}
.isDisabled:hover {
  color: #ecf0f1;
  text-decoration: none;
}

