/* Restore previously removed rules */
.ng-view {
    background-color: #d4351c;
}
.ng-view .container .list-group .list-group-item{
    background-color: #c0392b;
}

.ng-view .container .list-group .list-group-item a{
    color: #fff;
}


@media screen and (min-width: 600px) {
  .visible-phone {
    display: none;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    display:normal;
    overflow:auto
  }
}

.off-screen {
    visibility: none;
}

/* Make footer stick to bottom of page using flexbox layout */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

/*@import url(//fonts.googleapis.com/css?family=Lato&display=swap);*/
/*@import url(//fonts.googleapis.com/css?family=Anton&display=swap);*/
/*@import url(//fonts.googleapis.com/css?family=Roboto&display=swap);*/

body {
    /*font-family: "nta", Arial, sans-serif !important;*/
	font-family: "Roboto", Arial, sans-serif !important;
	/*background-color: #e8e5c3;*/
	/*background-color: #fff;*/
    background-color: #f3f2f1;
}

.navbar {
  background-color: #003078 !important;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ffbbbc;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffbbbc; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffbbbc;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-toggle {
  border-color: #c0392b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0392b;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ffbbbc;
}

.contact {
	background-color: #4c2c92 !important;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffbbbc;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffbbbc;
  background-color: #c0392b;
}


/* Style all font awesome icons */
.fa {
  padding: 11px;
  font-size: 16px;
  /*width:30px;*/
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.dailypolitics-heading-xl, .app-prose-scope h1 {
    color: #0b0c0c;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    /*font-family: "GDS Transport",Arial,sans-serif;*/
	/*font-family: 'TabloidFont', 'Garamond', serif;*/
	font-family: Anton,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    line-height: 1.09375;
    display: block;
    margin: 0;
    /*margin-bottom: 30px;*/
	padding: 16px;
	font-weight: normal;
	letter-spacing: 0;
    line-height: 1.2em;
    text-transform: uppercase;
    /*text-shadow: rgba(0,0,0,.15) 1px 1px 2px;*/
    word-break: break-word;
    font-size: 32px !important;
}


.dailypolitics-heading-xl a {
	color: #ffffff;
	text-decoration:none;
	font-size: inherit;
}

.dailypolitics-heading-l, .app-prose-scope h2 {
    color: #0b0c0c;
    font-family: "GDS Transport",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04167;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}

.dailypolitics-\!-margin-bottom-8 {
    margin-bottom: 50px !important;
}

.dailypolitics-\!-margin-bottom-16 {
    margin-bottom: 16px !important;
}

.dailypolitics-\!-margin-top-8 {
    margin-top: 50px !important;
}

.dailypolitics-body {
    color: #0b0c0c;
    /*font-family: "nta", Arial, sans-serif;*/
	font-family: "Roboto", "nta", Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px !important;
    font-size: 1rem;
    line-height: 1.618 !important;
    margin-top: 0;
    margin-bottom: 16px;
	padding: 0px;
}

.dailypolitics-body p {
    color: #0b0c0c;
    /*font-family: "nta", Arial, sans-serif;*/
	font-family: "Roboto", "nta", Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px !important;
    font-size: 1rem;
    line-height: 1.618 !important;
    margin: 0;
    /*margin-bottom: 16px;*/
	padding: 16px;
}

.dailypolitics-body img {
	width: 100%;
}

.dailypolitics-footer {
	font-family: "Roboto", "nta", Arial, sans-serif !important;
    padding: .75rem 1.25rem;
    background-color: #f3f2f1;
    border-top: 1px solid rgba(0,0,0,.125);
}


.anchor-color a {
	color: #1d70b8 !important;
	text-transform: uppercase;
}

.sub-menu {
    background-color: #fff;
    position: absolute;
    top: 69px;
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    margin: 0 auto;
    max-width: 950px;
}


.navbar-brand {
	/*font-family: 'EB Garamond', 'Garamond', serif;*/
	font-family: 'Anton', 'Garamond', serif;
	font-size: 52px;
	margin-top: 15px; 
	margin-bottom: 10px; 
	text-align: center;
	font-weight: normal;
}




.breaking {
    background-color: #c0392b;
	color:#fff;
}

.red {
	background-color: #d4351c;
	color:#fff !important;
}

.red a {
	color:#fff !important;
}

.yellow {
	background-color: #ffdd00;
	color:#000 !important;
}

.yellow a {
	color:#000 !important;
}

.green {
	background-color: #00703c;
	color:#fff !important;
}

.green a {
	color:#fff !important;
}

.blue {
	background-color: #1d70b8;
	color:#fff !important;
}

.blue a {
	color:#fff !important;
}

.dark-blue {
	background-color: #003078;
	color:#fff !important;	
}

.dark-blue a {
	color:#fff !important;	
}

.light-blue {
	background-color: #5694ca;
	color:#000 !important;	
}

.light-blue a {
	color:#000 !important;	
}

.purple {
	background-color:#4c2c92;
	color:#fff !important;	
}

.purple a {
	color:#fff !important;	
}

.black {
	background-color: #0b0c0c;
	color:#000 !important;	
}

.black a{
	color:#000 !important;	
}

.dark-grey {
	background-color: #626a6e;
	color:#fff !important;	
}

.dark-grey a {
	color:#fff !important;	
}

.mid-grey {
	background-color: #b1b4b6;
	color:#000 !important;	
}

.mid-grey a {
	color:#000 !important;	
}

.light-purple {
	background-color:#6f72af;
	color:#000 !important;	
}

.light-purple a {
	color:#000 !important;	
}

.bright-purple {
	background-color:#912b88;
	color:#fff !important;	
}

.bright-purple a {
	color:#fff !important;	
}

.pink {
	background-color:#d53880;
	color:#000 !important;	
}

.pink a {
	color:#000 !important;	
}

.light-pink {
	background-color:#f499be;
	color:#000 !important;	
}

.light-pink a {
	color:#000 !important;	
}

.orange {
	background-color:#f47738;
	color:#000 !important;	
}

.orange a {
	color:#000 !important;	
}

.brown {
	background-color:#b58840;
	color:#000 !important;	
}

.brown a {
	color:#000 !important;	
}

.light-green {
	background-color:#85994b;
	color:#000 !important;	
}

.light-green a {
	color:#000 !important;	
}

.turquoise {
	background-color:#28a197;
	color:#000 !important;	
}

.turquoise a {
	color:#000 !important;	
}

.dailypolitics-btn__pagination {
	color: #fff;
	font-family: Anton,sans-serif;
    font-size: 1.3em;
    text-shadow: rgba(0,0,0,.15) 1px 1px 2px;
	background-color: #d4351c;
}

a.dailypolitics-btn__pagination:hover{
	color:#fff;
}

.dailypolitics-\!-padding-left {
	padding-left:0 !important;
}
.dailypolitics-\!-padding-right {
	padding-right:0 !important;
}

@media screen and (max-width: 600px) {
}

@media screen and (min-width: 600px) {
}

.dailypolitics-correction {
	margin-right: -15px;
    margin-left: -15px;
}

.story-body .media-caption {
    min-height: 24px; /* or whatever is typical for your captions */
    padding: 16px;
    padding: 16px;
}

.story-body figure>figcaption {
    display: block;
    visibility: visible;
	background-color: #000;
	color: #fff;
	font-family: "Roboto", "nta", Arial, sans-serif !important;
	font-size: 13px;
}

.story-image-copyright, .responsive-image__copyright {
    background: #404040;
    background: rgba(0,0,0,0.6);
    bottom: 0;
    color: #ececec;
    letter-spacing: .25px;
    padding: 3px 8px 1px;
    position: absolute;
    right: 0;
	color: #fff;
}



.dailypolitics-\!-padding-8-left {
    padding-left: 0px;
}

.dailypolitics-\!-padding-8-right {
    padding-right: 0px;
}

.dailypolitics-spacing-16 {
    margin-bottom: 16px
}

.dailypolitics-margin-left-5 {
    margin-left: 5px
}

.dailypolitics-margin-right-5 {
    margin-right: 5px
}

.btn-transparent {
    margin-top: 0.25em;
    color: #000;
    background-color: transparent;
    border-color: black;
}

.js-image-replace {
    width:100%;
}
h1.navbar-brand {
	margin-right: 3px;
}

.isDisabled {
  color: #ecf0f1;
  text-decoration: none;
}
.isDisabled:hover {
  color: #ecf0f1;
  text-decoration: none;
}

p figure>figcaption {
    display: block;
	padding: 16px;
    visibility: visible;
    background-color: #000;
    color: #fff;
    font-family: "Roboto", "nta", Arial, sans-serif !important;
    font-size: 13px;
}

.twitter-tweet-rendered {
	margin:auto;
}

.sponsored-list {
	padding-left:0 !important;
	padding-right:0 !important;
}

.sponsorship-label {
    background-color: #ffdd00;
    margin-bottom: 0;
    font-size: 0.809em;
    font-weight: 700;
    color: #000;
    padding: 3px;
}

.sponsorship-tagline {
	margin-bottom: 0;
    font-size: 0.809em;
}

.sponsorship-header {
    margin-bottom: 0;
    font-size: 0.809em;
    font-weight: bold;
	margin-bottom: 11px;
}

.sponsored-article {
	margin-bottom: 11px;
}

.sponsorship-footer {
    font-size: 0.809em;
}


.is-sponsored .flag {
    background: 0 0;
    color: 	#1d70b8 !important;
    padding: 0;
	text-transform: uppercase;
	font-size: 1rem !important;
    font-weight: 700;
    letter-spacing: .1rem;
}

.nav-font-white {
    color: #fff !important;
    padding: 0 0 0 0;
}

blockquote {
	margin-left:16px;
	margin-top:16px;
	margin-bottom:16px;
    padding-left: 0;
    border-left: .2em solid rgba(0,0,0,.15);
}

.emoji {
    width:24px !important;
}
.nobr {
    white-space: nowrap !important;
}

.comments {
	
	background-color: #f3f2f1;
}

.comments p {
	margin-top:16px;
	margin-bottom:16px;
}

.disqus-fix {
	padding-left:0;
	padding-right:0;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}

.disqus-fix-margin-top-bottom-24 {
	margin-bottom:24px;
	margin-top:24px;
}

.card li a {  
	color: #003078;
	font-size: 19px;
}

/*.card li a:active {*/
    /*background-color: #ffdd00;*/
	/*display: inline-block;*/
	/*text-decoration: underline;*/
	/*-webkit-text-decoration-color: #000;*/
	/*text-decoration-color: #000;*/
	
    /*position: relative;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    /*padding-left: 14px;*/
/*}*/

.btn-amazon, .btn-amazon:hover, .btn-amazon:active, .btn-amazon:visited {
    background-color: #f47738 !important;
	color: #fff !important;
}

.amazon-fix a {
	margin-top:16px;
}

.bookcard-container {
	padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.bookcard-cover-container {
	padding-bottom: 16px;
}

/* =========================================
   Tag component (Daily Politics)
   ========================================= */

.dp-tag {
  display: inline-block;
  padding: 0.4rem 0.75rem; 
  border-radius: 4px; /* rectagular */
  font-family: inherit;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 1px solid transparent;
  background-color: #f3f2f1;
  color: #222222;
  vertical-align: middle;
  white-space: nowrap;
}

/* Space tags when multiple are shown together */
.dp-tag + .dp-tag {
  margin-left: 0.25rem;
}

/* Neutral / default tag (e.g. "Opinion", "Analysis") */
.dp-tag--neutral {
  background-color: #f3f2f1;
  border-color: #d0d0d0;
  color: #444444;
}

/* Primary / attention tag (e.g. "Breaking") */
.dp-tag--primary {
  background-color: #0050b3;
  border-color: #003a82;
  color: #ffffff;
}

/* Positive tag (e.g. "Passed", "Approved") */
.dp-tag--positive {
  background-color: #0f8243;
  border-color: #0a5c30;
  color: #ffffff;
}

/* Warning tag (e.g. "Delayed", "At risk") */
.dp-tag--warning {
  background-color: #f3a800;
  border-color: #c68600;
  color: #222222;
}

/* Negative / danger tag (e.g. "Rejected", "Urgent") */
.dp-tag--negative {
  background-color: #c52a1a;
  border-color: #8f1f13;
  color: #ffffff;
}

/* Muted / low emphasis tag (e.g. "Archived", "Draft") */
.dp-tag--muted {
  background-color: #e5e5e5;
  border-color: #cccccc;
  color: #555555;
}


.dp-tag--breaking {
    background-color: #c0392b;
	color:#fff;
}

.dp-tag--red {
	background-color: #d4351c;
	color:#fff !important;
}

.dp-tag--red a {
	color:#fff !important;
}

.dp-tag--yellow {
	background-color: #ffdd00;
	color:#000 !important;
}

.dp-tag--yellow a {
	color:#000 !important;
}

.dp-tag--green {
	background-color: #00703c;
	color:#fff !important;
}

.dp-tag--green a {
	color:#fff !important;
}

.dp-tag--blue {
	background-color: #1d70b8;
	color:#fff !important;
}

.dp-tag--blue a {
	color:#fff !important;
}

.dp-tag--dark-blue {
	background-color: #003078;
	color:#fff !important;	
}

.dp-tag--dark-blue a {
	color:#fff !important;	
}

.dp-tag--light-blue {
	background-color: #5694ca;
	color:#000 !important;	
}

.dp-tag--light-blue a {
	color:#000 !important;	
}

.dp-tag--purple {
	background-color:#4c2c92;
	color:#fff !important;	
}

.dp-tag--purple a {
	color:#fff !important;	
}

.dp-tag--black {
	background-color: #0b0c0c;
	color:#000 !important;	
}

.dp-tag--black a{
	color:#000 !important;	
}

.dp-tag--dark-grey {
	background-color: #626a6e;
	color:#fff !important;	
}

.dp-tag--dark-grey a {
	color:#fff !important;	
}

.dp-tag--mid-grey {
	background-color: #b1b4b6;
	color:#000 !important;	
}

.dp-tag--mid-grey a {
	color:#000 !important;	
}

.dp-tag--light-purple {
	background-color:#6f72af;
	color:#000 !important;	
}

.dp-tag--light-purple a {
	color:#000 !important;	
}

.dp-tag--bright-purple {
	background-color:#912b88;
	color:#fff !important;	
}

.dp-tag--bright-purple a {
	color:#fff !important;	
}

.dp-tag--pink {
	background-color:#d53880;
	color:#000 !important;	
}

.dp-tag--pink a {
	color:#000 !important;	
}

.light-pink {
	background-color:#f499be;
	color:#000 !important;	
}

.dp-tag--light-pink a {
	color:#000 !important;	
}

.dp-tag--orange {
	background-color:#f47738;
	color:#000 !important;	
}

.dp-tag--orange a {
	color:#000 !important;	
}

.dp-tag--brown {
	background-color:#b58840;
	color:#000 !important;	
}

.dp-tag--brown a {
	color:#000 !important;	
}

.dp-tag--light-green {
	background-color:#85994b;
	color:#000 !important;	
}

.dp-tag--light-green a {
	color:#000 !important;	
}

.dp-tag--turquoise {
	background-color:#28a197;
	color:#000 !important;	
}

.dp-tag--turquoise a {
	color:#000 !important;	
}
