{% extends 'layout/master.njk' %}

{% block content %}
<div class="container admin-dashboard-margin-y-8">
  <div class="row align-items-center admin-dashboard-fix-row">
    <div class="col-sm-12 col-md-12">
      <div class="card admin-dashboard-card" itemscope itemtype="https://schema.org/Table">
        <meta itemprop="about" content="Admin dashboard posts listing">
        <table class="table">
          <caption class="dp-table__caption" itemprop="name">List of posts</caption>
          <thead>
            <tr>
              <th scope="col" style="width: 120px;">Status</th>
              <th scope="col">Title</th>
              <th scope="col" class="text-right" style="width: 250px;">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
            <tr>
              <td>
                {% if post.status == 'published' %}
                  <span class="dp-tag dp-tag--green dp-tag--small dp-tag--pill">Published</span>
                {% elseif post.status == 'draft' %}
                  <span class="dp-tag dp-tag--yellow dp-tag--small dp-tag--pill">Draft</span>
                {% elseif post.status == 'archived' %}
                  <span class="dp-tag dp-tag--orange dp-tag--small dp-tag--pill">Archived</span>
                {% else %}
                  <span class="dp-tag dp-tag--muted dp-tag--small dp-tag--pill">{{ post.status|capitalize }}</span>
                {% endif %}
              </td>
              <td>{{ post.title }}<br><strong style="font-weight: 700;">Author:</strong> {{ post.author_name }} &nbsp; <strong style="font-weight: 700;">Created:</strong> {{post.create_at | date('yyyy-MM-DD') }} &nbsp; <strong style="font-weight: 700;">Updated:</strong> {{ post.updated_at | date('yyyy-MM-DD') }} {{ post.slug | safe }}</td>
              <td class="text-right">
                <a href="{{ url('adminIndexEdit', { slug : post.slug }) }}" class="dp-link-button dp-link-button--dark-grey dp-link-button--small" aria-label="View {{ post.title }}" traget="_blank" rel="noopener noreferrer">View</a>
                <a href="{{ url('adminIndexEdit', { slug : post.slug }) }}" class="dp-link-button dp-link-button--dark-grey dp-link-button--small" aria-label="Edit {{ post.title }}" target="_blank" rel="noopener noreferrer">Edit</a>
                <a href="{{ url('adminIndexDelete', { slug : post.slug }) }}" class="dp-link-button dp-link-button--red dp-link-button--small" aria-label="Delete {{ post.title }}">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {{ pager(pagination) }}
    </div>
  </div>
</div>
{% endblock %}